*{
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;
}
.gold{ 
    background: radial-gradient(circle,rgba(255, 255, 0, 1) 0%, rgba(253, 187, 45, 1) 100%); 
    color: transparent; 
    background-clip: text; 
}
/* a:hover{
   background: radial-gradient(circle,rgba(255, 255, 0, 1) 0%, rgba(253, 187, 45, 1) 100%); 
    color: transparent; 
    background-clip: text;  
} */
.bag-gold{
    background: radial-gradient(circle,rgba(255, 255, 0, 1) 0%, rgba(253, 187, 45, 1) 100%);  
}
